<div class="container">
  <div class="preview__content">

    <div class="pdf-container">
      <div class="pdf-wrapper">
        <div class="pdf-section--left pdf-section--half">
          <div class="pdf-block">
            <h5>Webseitenbetreiber</h5>
            Joshua Stieber
          </div>
          <div class="pdf-block">
            <h5>Informationen über das Unternehmen</h5>
            <p>Einzelunternehmer</p>
            <p>

              Auf der Geest 4
            </p>
            <p>
              Garbsen
              ,
              30826
            </p>
            <p>
              contact@brokoly.de
            </p>
            <p>
              +491711642054
            </p>
          </div>
          <div class="pdf-block">
            <h5>Informationen über die Unternehmensregistrierung</h5>
          </div>
          <div class="pdf-block">
            <p>
              Informationen zur Online-Streitbeilegung: Die EU-Kommission hat eine Internetplattform zur Online-Beilegung von Streitigkeiten (sog. „OS-Plattform“) geschaffen. Die OS-Plattform dient als Anlaufstelle zur außergerichtlichen Beilegung von Streitigkeiten betreffend vertragliche Verpflichtungen, die aus Online-Kaufverträgen erwachsen. Sie können die OS-Plattform unter dem folgenden Link erreichen: http://ec.euopa.eu/consumers/odr „Hinweis gemäß § 36 Verbraucherstreitbeilegungsgesetz (VSBG).
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
